<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css"/>
  </head>
  <body>
    <script src="https://bundle.run/xou@1.0.0"></script>
    <script src="https://bundle.run/vxv@2.3.0"></script>
    <script src="https://bundle.run/isomorphic-fetch@2.2.1"></script>
    <script src="https://bundle.run/nprogress@0.2.0"></script>
    <script src="https://bundle.run/vkey@1.0.1"></script>
    <script src="https://bundle.run/alerted@1.6.0"></script>
    
    <script src="/client.js"></script>
  </body>
</html>
